@use 'variables' as *;
.demoPost{
  padding-top: 15px;
  padding-left: 16px;
  padding-right: 14px;
  display: flex;
  justify-content: space-between;
}

.user_image{
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.post_title a{
  color: $titleColor;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
}

.likes_svg{
  margin-left: 13px;
  width: 16px;
  height: 16px;
}

.post-info{
  display: flex;
}
.demo_description{
  width: 682px;
  font-size: 12px;
}