@use 'variables' as *;

.header{
  min-width: 1440px;
  height: 80px;
  background-color: $backgroundCardColor;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.header-item{
  font-size: 18px;
  margin-left: 22px;
}
.nav-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-auth{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sign_in_link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 109px;
  height: 51px;
  margin-right: 19px;
  background-color: $backgroundCardColor;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
}
.sign_up_link{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 22px;
  width: 109px;
  height: 51px;
  background-color: $backgroundCardColor;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
}
.sign_up_link:hover{
  border: 1px solid $hoverButtonColor;
  color: $hoverButtonColor;
  border-radius: 6px;
}
.sign_in_link:hover{
  border: 1px solid $hoverButtonColor;
  color: $hoverButtonColor;
  border-radius: 6px;
}
.createArticle{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 22px;
  width: 109px;
  height: 51px;
  background-color: $backgroundCardColor;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  color: $hoverButtonColor;
}
.createArticle:hover{
  border: 1px solid $hoverButtonColor;
  border-radius: 6px;
}
.editProfile{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 22px;
  width: 109px;
  height: 51px;
  background-color: $backgroundCardColor;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  color: $hoverButtonColor;
}
